.header{
    
    .navbar-nav{

        .nav-item{
            a{
                color: $white;
                text-transform:uppercase;

                &:hover{
                    color: $yellow;
                }
            }
        }

    }

    .navbar-toggler{
        color: $white;
    }
}